#menu-view {
  
  .user {
    img {
      display: inline-block;
      vertical-align: middle;
      margin-right: 15px;
    }

    span {
      text-transform: uppercase;
      font-weight: bold;
    }
  }

}