<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-dark">
      <ion-nav-back-button>
      </ion-nav-back-button>
      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu id="menu-view" side="left" ng-controller="MenuCtrl">
    <ion-header-bar class="bar-stable">
      <h1 class="title">Menu</h1>
    </ion-header-bar>
    <ion-content>
      <ion-list>
        <ion-item ng-if="loggedIn()" class="user">
          <span>Welcome back,<br>{{ currentUser().email }}</span>
          <button menu-close ng-click="logout()" class="button button-block button-assertive">Logout</button>
        </ion-item>
        <ion-item ng-if="!loggedIn()" class="user">
          <span>Hello stranger!</span>
          <button menu-close ui-sref="app.auth" class="button button-block button-calm">Log in / Sign up</button>
        </ion-item>
        <ion-item ui-sref="app.feed" menu-close>Home</ion-item>
        <ion-item ui-sref="app.turnBlue" menu-close>Turn Blue</ion-item>
        <ion-item ui-sref="app.protected" menu-close>Protected page</ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>